<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navigation</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3sarc078ylgcik9.css">
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="whole">