footer.bottom{
  background:#333;
}
.footerinfo{
  width: 1000px;
  margin:0 auto;
  padding:50px 0;
}
.site-info{
  width:50%;
  padding:35px 20px 35px 0;
  float:left;
}
.site-info p{
  margin:15px 0;
  color:#60606d;
  font-size:13px;
}
.firend-link{
  width:50%;
  float:left;
  padding:35px 0 35px 20px;
}
.firend-link li{
  float:left;
  margin-top:10px;
}
.firend-link header{
  line-height:50px;
  font-size:19px;
  color: #959595;
  padding-left:10px;
}
.firend-link li a{
  padding:5px 10px;
  color:#60606d;
}