<%- include( './_structure/head.ejs' ) %>
<%- include( './_view/top.ejs' ) %>
<div class="main clearfix">
    <article class="typename"></article>
    <div class="warehouse object"></div>
    <div class="return"></div>
</div>
<%- include( './_view/bottom.ejs' ) %>
<%- include( './_structure/js.ejs' ) %>