*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
}
i{
  font-style:normal;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.clearfix{
  zoom:1;
}
@font-face {
  font-family: 'cc';  /* project id 322806 */
  src: url('//at.alicdn.com/t/font_3sarc078ylgcik9.eot');
  src: url('//at.alicdn.com/t/font_3sarc078ylgcik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3sarc078ylgcik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_3sarc078ylgcik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3sarc078ylgcik9.svg#cc') format('svg');
}
body{
  background-image:none;
  background-color:#f2f2f2;
  font-family:cc;
}
img{
  vertical-align:middle;
}