<header class="top">
    <nav class="nav">
        <div class="logo">
            <a href="#" date-content="cc">navgation</a>
        </div>
        <div class="menu">
            <ul class="clearfix">
                <li class="active"><a href="./index.html">首页</a></li>
                <li><a href="./object.html">个人项目</a></li>
                <li><a href="#">UI设计</a></li>
                <li><a href="#">开源</a></li>
                <li><a href="#">个人介绍</a></li>
                <li><a href="#">反馈</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="#">收藏</a>
        </div>
    </nav>
    <div class="bann">
        <div class="bann-bg">
            <div></div>
            <div></div>
            <div><b>+</b><b>+</b><b>+</b></div>
            <div></div>
            <div></div>
        </div>
        <div class="search">
            <input type="text" placeholder="baidu search"><button><i class="cc-yuan-search"></i></button>
        </div>
    </div>
</header>